* {
  scroll-behavior: smooth;
  box-sizing:border-box;
  
}

body {
  justify-content: center;
  align-items: center;
  display: flex;
  border: none;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
  background-color: linen;
  height: 100vh;
  width: 100%;
}

/*the navigation buttons*/
.nav-Buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  margin-bottom: 20px;
  flex-direction: column;
  order: 2;
  gap: 50px;
  
}
.navBtn {
  padding: 20px;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  flex-basis: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: linen;
  text-decoration: none;
  display: block;
  width: 100%;
}
.navBtn::hover {
  width: 50%;
  height: 250px;
  cursor: pointer;
}


/* The css for the  image  */
.image {
  float: left;
  border-radius: 100%;
  size: 50rem;
}
/*homepage content*/
.home-front-content {
  flex-grow: 2;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  order: 1;
  border-radius: 1rem;
  padding: 10px 10px;
}
.homepage-text {
  
  border: 20px;
}
/*media queries*/
@media screen and (max-width:500px) {
    body{
      flex-direction: column;
      height: 0;
    }
  .home-front-content {
    flex-direction: column;
    order: 2;
    display: block;
    flex-wrap: wrap;
  }
  .image{
    float: none;
  }
  .nav-Buttons{
    flex-direction: row;
    flex-wrap: wrap;
  }
}
